.header{
    margin-bottom : 30px;
    height: 30px;
    display: flex;
    align-items: center;
    background-color:transparent;
    padding: 50px;
    justify-content: space-around;
    
  }
  .search-container{
    width: 50%;
    height: 40px;
    background: none;
  }
  
  .header input{
    width: 70%;
    height: 40px;
    background: none;
    border-radius: 4px;
    padding-left: 5px;
    color: white;
  }
  
  #egy{
    color: #f90000;
  }
  #best{
    color: #0064ca;
  }
  .star{
    transition-duration: 1s;
    cursor: pointer;
  }